.filter {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.filters__button {
    padding: 5px 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: auto;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #232321;
    color: #ffffff;
    border: none;
}

.filters__button__active {
    color: #ff4e4e;
    background-color: #ffffff;
    border-radius: 2px;
}